# Carpeta generada por Visual Studio
.vs/

# Carpetas generadas en tiempo de ejecución
/bin/
/obj/
/Debug/
/Release/

# Archivos de configuración de usuario
*.user
*.suo

# Carpetas y archivos de dependencias de NuGet
/packages/

# Ignorar archivos generados por Visual Studio
WinFormsApp1/obj/
FA INSUMOS/.vs/